* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    /*padding: 0;
    margin: 0;*/
}
header a {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-top: -75px;
}
header h1{
    display: flex;
    background-color: royalblue;
    color: white;
    border: black solid 3px;
}


.Foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid black;
    display: block;
    &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}
.language-table, .language-table th, .language-table td {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    width: auto;
    margin-right: auto;
}
.language-table th {
    background-color: royalblue;
    color: white;
    text-align: left;
}
.language-table td {
    background-color: lightblue;
}
footer {
    border: black solid 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: royalblue;
    color: white;
}

.scroll-to-top {
    background-color: royalblue;
    color: white;
    border: none;
    &:hover {
        color: lightblue;
        text-decoration: underline;
    }
}

