* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    color: white;
    /*padding: 0;
    margin: 0;*/
}
body {

    background-image: url('/images/achetergrond2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.Foto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid black;
    display: block;
    transition: box-shadow 0.2s;
}
.Foto:hover {
    box-shadow: 0 0 20px white;
}
.language-table {
    border-collapse: collapse;
    width: auto;
    margin-right: auto;
}

.language-table,
.language-table th,
.language-table td {
    border: 2px solid black;
}

.language-table th {
    background-color: #D94F27;
    color: white;
    text-align: left;
    padding: 8px 10px;
}

.language-table td {
    background-color: white;
    color: black;
    padding: 8px 10px;
}
